<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Restful tasks</title>
</head>

<body>
    <div class="container">
        <h1>Restful Tasks API</h1>
        <div class="row justify-content-center">
            <div class="card w-50">
                <div class="card-body">
                  <h2 class="text-center">All Tasks</h2>
                  <div class="row justify-content-center">
                    <ul>
                        <li *ngFor="let task of tasks">{{task.title}} - {{task.description}}</li>
                    </ul>
                  </div>
                    <h2 class="text-center">The first task</h2>
                    <div class="row justify-content-center">
                    <ul>
                      <li *ngIf="oneTask">{{oneTask.title}} - {{oneTask.description}}</li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>







<!-- <router-outlet></router-outlet> -->
